div.project-win(data-modal-win="project-3")
  
  .h3 Республика Саха

  img(src="assets/images/media/project-3.jpg" alt="")

  p Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nihil nesciunt perspiciatis iusto tempore excepturi repudiandae! Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nihil nesciunt perspiciatis iusto tempore excepturi repudiandae! Lorem ipsum, dolor sit amet, consectetur adipisicing elit. Nihil nesciunt perspiciatis iusto

  a.btn.btn--primary-reverse.btn--sm(href="#") Перейти